<ion-content>
<ion-row>
    <ion-card class="m-0">
        <img src="assets/images/mobile-app.png"/>
    </ion-card>
</ion-row>
<form [formGroup]="loginForm">

  <ion-grid>
        <ion-list  class="m-l m-r">
            <ion-item>
                <ion-label color="primary" position="floating">Username</ion-label>
                <ion-input formControlName="username" autocorrect="on" autofocus="on" color="dark" inputmode="text" placeholder="Enter your username" required="true"></ion-input>
                <ion-icon name="person" color="primary" slot="end"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list  class="m-l m-r">
            <ion-item>
                <ion-label color="primary" position="floating">Password</ion-label>
                <ion-input formControlName="password" autocorrect="on" autofocus="on" color="dark" inputmode="text" placeholder="Enter your password" required="true"></ion-input>
                <ion-icon name="eye" color="primary" slot="end"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-row>
            <ion-col>
                <ion-button (click)="login()" expand="block" class="m-l" [disabled]="loginForm.invalid" >Login</ion-button>
            </ion-col>
            <ion-col>
                <!-- /register -->
                <ion-button expand="block" color="secondary" routerLink="" routerDirection="forward" class="m-r">Register</ion-button>
            </ion-col>
        </ion-row>
  </ion-grid>
</form>

</ion-content>

