<ion-row>
    <ion-card class="m-0">
        <img src="assets/images/ionic.jpg"/>
        <ion-card-header>
            <ion-card-title>Angular Ionic Demo App</ion-card-title>
            <ion-card-subtitle>Emp Code : STPL/811</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
            It is a test app for demonstration using Angular, Ionic and Cordova.
            <br/><br/>
            Developed by Mohit Awasthi, Software Engineer (Mobile&UI Developement) at STPL Lucknow.
        </ion-card-content>
    </ion-card>
</ion-row>
